<h1>Listing Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for ingredient <- @ingredients do %>
    <tr>
      <td><%= ingredient.title %></td>

      <td>
        <span><%= link "Show", to: Routes.ingredient_path(@conn, :show, ingredient) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
