<h1 class="ingredient-header"><%= @ingredient.title %></h1>

<p><%= @ingredient.description %></p>

<%= for image <- @ingredient.images do %>
  <p><%= img_tag(resize_wikidata_image(image.commons_url, 240)) %></p>
<% end %>

<span><%= link "Back", to: Routes.ingredient_path(@conn, :index) %></span>
|
<span><%= link "Wikidata", to: wikidata_url(@ingredient) %></span>
