nav.page-navigation li {
  font-family: serif;
  text-transform: uppercase;
  margin-right: 20px;
  float: left;
}

ul.pagination-list {
  list-style-type: none;
}

ul.pagination-list li {
  margin-right: 10px;
  float: left;
}

h1.ingredient-header {
  font-family: serif;
  text-transform: uppercase;
}
