@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  src: url("/fonts/vollkorn/Vollkorn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vollkorn-bold";
  font-style: normal;
  src: url("/fonts/vollkorn/Vollkorn-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Vollkorn-italic";
  font-style: italic;
  src: url("/fonts/vollkorn/Vollkorn-Italic.woff2") format("woff2");
}

.hero {
  background-color: #e8d7b6;
}

.hero-title {
  font-family: Vollkorn, serif;
  font-size: 800%;
  color: rgb(75, 46, 10);
}

.hero-subtitle {
  font-family: monospace;
  font-size: 200%;
}

nav.page-navigation li {
  font-family: Vollkorn, serif;
  text-transform: uppercase;
  margin-right: 20px;
  float: left;
}

ul.pagination-list {
  list-style-type: none;
}

ul.pagination-list li {
  margin-right: 10px;
  float: left;
}

h1.ingredient-header {
  font-family: Vollkorn-bold, serif;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
