#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

#layout.active #menu {
  left: 200px;
  width: 200px;
}

#layout.active .menu-link {
  left: 200px;
}

#menu {
  margin-left: -200px;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
}

#menu a {
  font-family: Mechanical, monospace;
  color: #999;
  border: none;
}

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

#menu .pure-menu li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#menu .pure-menu li a {
  font-size: 1.4em;
  padding: 0.5em;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  color: white;
  background: black;
}

#menu .pure-menu-heading {
  font-family: Vollkorn, serif;
  font-size: 2em;
  color: white;
  background: rgb(75, 46, 10);
}

#menu .pure-menu-heading:hover {
  background: black;
}

#menu .pure-menu-selected a {
  color: #fff;
}

.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0;
  background: rgb(75, 46, 10);
  color: white;
  font-size: 2em;
  font-family: Vollkorn, serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: .2em;
  z-index: 10;
  padding-top: .5em;
  width: 1.5em;
  height: 5em;
}

.sm-menu-link-spacer {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.menu-link:hover {
  background: #000;
}

@media (min-width: 48em) {
  #layout {
    padding-left: 200px;
    left: 0;
  }

  #menu {
    left: 200px;
  }

  .menu-link {
    position: fixed;
    left: 200px;
    display: none;
  }

  #layout.active .menu-link {
    left: 200px;
  }
}

@media (max-width: 48em) {
  #layout.active {
    position: relative;
    left: 200px;
  }

  .sm-menu-link-spacer {
    margin-left: 3em;
  }
}
