<h1 class="ingredient-header">
  <%= @ingredient.title %>
  <%= unless is_nil(assigns[:current_account]) do %>
    <%= if is_nil(assigns[:fav]) do %>
      <button phx-click="add-fav">Save fav</button>
    <% else %>
      💜 <button phx-click="remove-fav">Unfav</button>
    <% end %>
  <% end %>
</h1>

<%= if not is_nil(@instance_of_ingredient) do %>
  A kind of <%= link @instance_of_ingredient.title, to: Routes.live_path(@socket, DujuduWeb.IngredientLive, @instance_of_ingredient) %>.
<% end %>

<p><em><%= @ingredient.description %></em></p>

<%= for image <- @ingredient.images do %>
  <p><%= img_tag(resize_wikidata_image(image.commons_url, 640)) %></p>
<% end %>

<span><%= link "Wikidata", to: wikidata_url(@ingredient) %></span>

<hr>
<%= if length(@ingredients_of_this_kind) > 0 do %>
  <h3>Ingredients of this kind:</h3>
  <div class="grid">
    <%= for ingredient <- @ingredients_of_this_kind do %>
      <% image = ingredient.images |> List.first %>
      <div class="grid-cell">
        <h4><%= live_redirect ingredient.title, to: Routes.live_path(@socket, DujuduWeb.IngredientLive, ingredient) %></h4>
        <%= if not is_nil(image) do %>
          <%= live_redirect img_tag(resize_wikidata_image(image.commons_url, 120)), to: Routes.live_path(@socket, DujuduWeb.IngredientLive, ingredient) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= if length(@similar_ingredients) > 0 do %>
  <h3>Other ingredients:</h3>
  <div class="grid">
    <%= for ingredient <- @similar_ingredients do %>
      <% image = ingredient.images |> List.first %>
      <div class="grid-cell">
        <h4><%= live_redirect ingredient.title, to: Routes.live_path(@socket, DujuduWeb.IngredientLive, ingredient) %></h4>
        <%= if not is_nil(image) do %>
          <%= live_redirect img_tag(resize_wikidata_image(image.commons_url, 120)), to: Routes.live_path(@socket, DujuduWeb.IngredientLive, ingredient) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
