<div class="sm-menu-link-spacer">
  <h1 class="ingredient-header">
    <%= @ingredient.title %>
    <%= unless is_nil(assigns[:current_account]) do %>
      <%= if is_nil(assigns[:fav]) do %>
        <button phx-click="add-fav">Save fav</button>
      <% else %>
        💜 <button phx-click="remove-fav">Unfav</button>
      <% end %>
    <% end %>
  </h1>

  <%= if not is_nil(@instance_of_ingredient) do %>
    A kind of <%= live_redirect @instance_of_ingredient.title, to: Routes.live_path(@socket, DujuduWeb.IngredientLive, @instance_of_ingredient) %>.
  <% end %>

  <p>
    <div class="ingredient-desc"><%= @ingredient.description %></div>
  </p>
</div>

<%= for image <- @ingredient.images do %>
  <p><%= img_tag(resize_wikidata_image(image.commons_url, 640)) %></p>
<% end %>

<span><%= link "Wikidata", to: wikidata_url(@ingredient), target: "_blank", rel: "noopener noreferrer"%></span>

<%= if length(@ingredients_of_this_kind) > 0 do %>
  <hr>
  <h3>Ingredients of this kind:</h3>
  <div class="grid">
    <%= for ingredient <- @ingredients_of_this_kind do %>
      <% image = ingredient.images |> List.first %>
      <div class="grid-cell">
        <h4><%= live_redirect ingredient.title, to: Routes.live_path(@socket, DujuduWeb.IngredientLive, ingredient) %></h4>
        <%= if not is_nil(image) do %>
          <%= live_redirect img_tag(resize_wikidata_image(image.commons_url, 120)), to: Routes.live_path(@socket, DujuduWeb.IngredientLive, ingredient) %>
        <% end %>
      </div>
    <% end %>
    <div class="grid-cell">
      <h4><%= live_redirect "Show all of this kind", to: Routes.live_path(@socket, DujuduWeb.SimilarIngredientIndexLive, List.first(@ingredients_of_this_kind)) %></h4>
    </div>
  </div>
<% end %>

<%= if length(@similar_ingredients) > 0 do %>
  <hr>
  <h3>Similar ingredients:</h3>
  <div class="grid">
    <%= for ingredient <- @similar_ingredients do %>
      <% image = ingredient.images |> List.first %>
      <div class="grid-cell">
        <h4><%= live_redirect ingredient.title, to: Routes.live_path(@socket, DujuduWeb.IngredientLive, ingredient) %></h4>
        <%= if not is_nil(image) do %>
          <%= live_redirect img_tag(resize_wikidata_image(image.commons_url, 120)), to: Routes.live_path(@socket, DujuduWeb.IngredientLive, ingredient) %>
        <% end %>
      </div>
    <% end %>
    <div class="grid-cell">
      <h4><%= live_redirect "Show all similar", to: Routes.live_path(@socket, DujuduWeb.SimilarIngredientIndexLive, @ingredient) %></h4>
    </div>
  </div>
<% end %>
