<section class="phx-hero">
  <h1><%= gettext "Dujudu!", name: "Dujudu" %></h1>
  <p>Browse food ingredients</p>
</section>

<section class="row">
  <article class="column">
    <h2>Ingredient of the day</h2>
    <h3><%= link @ingredient_of_the_day.title, to: Routes.ingredient_path(@conn, :show, @ingredient_of_the_day) %></h3>
    <p><%= img_tag(@ingredient_of_the_day.image_url) %></p>
  </article>
</section>
