<section class="phx-hero">
  <h1><%= gettext "Dujudu!", name: "Dujudu" %></h1>
  <p>Browse food ingredients</p>
</section>

<section class="row">
  <article class="column">
    <h2>Image of the day</h2>
    <p><%= img_tag(@image_of_the_day.commons_url) %></p>
  </article>
</section>
